{% extends 'base.html' %}
{% block title %}Index - {% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link">{{ current_user.username }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="logout">Log out</a>
    </li>
{% endblock %}

{% block body %}

  <a href="newpost">New post</a>

  <p></p>

  {% for field in post %}
    <div class="row">
      <div class="col">
        <h1>{{ field.title }}</h1>
        <p><em>by {{ field.user.username }}</em></p>
      </div>

      <div class="col">
        <a href="editpost/{{ field.id }}">Edit</a>
      </div>
    </div>
    
    <p>{{ field.body }} </p>
  </div>
      
  {% endfor %}
{% endblock %}