{% extends 'base.html' %}
{% block title %}Index - {% endblock %}
{% block body %}
  {% for field in post %}
      <h1>{{ field.title }}</h1>
      <p><em>by {{ field.user.username }}</em></p>

      <p>{{ field.body }} </p>
  {% endfor %}
{% endblock %}