{% extends 'base.html' %}

{% block title %}Publication - {% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link">{{current_user.username}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="logout">Log out</a>
    </li>
{% endblock %}

{% block body %}
<h2>New Post</h2>

<form method="POST">
    {% for field in form %}
        {% if field.widget.input_type != 'hidden' %}
            {{ field.label() }}
            {% if field.errors %}
                {% for error in field.errors %}
                <div class="alert alert-error">{{ error }}</div>
                {% endfor %}
            {% endif %}
        {% endif %}
        {{ field() }}

    {% endfor %}
    <button type="submit">Save</button>
</form>
{% endblock %}