{% extends 'base.html' %}

{% block title %}Register - {% endblock %}
{% block body %}

<h2>Register</h2>

<form method="POST">
    {% for field in form %}
        {% if field.widget.input_type != 'hidden' %}
            {{ field.label() }}
            {% if field.errors %}
                {% for error in field.errors %}
                <div class="alert alert-error">{{ error }}</div>
                {% endfor %}
            {% endif %}
        {% endif %}
        {{ field() }}
    {% endfor %}
    <button type="submit">Save</button>
</form>
{% endblock %}
